extends layout

block content
  // Navigation
  nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
    .container
      a.navbar-brand.js-scroll-trigger(href='#page-top') Proyecto Bicicletas
      button.navbar-toggler.navbar-toggler-right(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
        | Menú
        i.fas.fa-bars
      #navbarResponsive.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link.js-scroll-trigger(href='#about') Nosotros
          li.nav-item
            a.nav-link.js-scroll-trigger(href='#projects') Bicicletas
          li.nav-item
            a.nav-link.js-scroll-trigger(href='#usuarios') Usuarios
          li.nav-item
            a.nav-link.js-scroll-trigger(href='#signup') Contacto
  // Masthead
  header.masthead
    .container.d-flex.h-100.align-items-center
      .mx-auto.text-center
        h1.mx-auto.my-5.text-uppercase Red de Bicicletas
        h3.text-white-50.mx-auto.mt-2.mb-3 Proyecto 1
        h2.text-white-50.mx-auto.mt-2.mb-5 Curso de "Desarrollo del lado servidor: NodeJS, Express y MongoDB" de la Universidad Austral.
        a.btn.btn-primary.js-scroll-trigger(href='#about') Comenzar
  // Nosotros
  section#about.about-section.text-center
    .container
      h2.text-white.mt-0.mb-4 1, 2, 3 ... probando!
      p.text-white-50
        | Primera prueba del proyecto red_bicicletas de BackEnd usando un 
        a(href='https://startbootstrap.com/template-overviews/grayscale/') template predefinido.
      img.img-fluid(src='images/ipad.png' alt='')
  // Projects
  section#projects.projects-section.bg-light
    .container.text-right
      h2.text-black.text-center.mb-8 Ubicación de bicicletas 
        a(href='/bicicletas')   (Ver lista de bicicletas)
      #mainmap
  // Usuarios
  section#usuarios.projects-section.bg-light
    .container.text-right
      h2.text-black.text-center.mb-4 Lista de usuarios
        a(href='/usuarios')    (Ver aquí)
  // Signup
  section#signup.signup-section
    .container
      .row
        .col-md-10.col-lg-8.mx-auto.text-center
          i.far.fa-paper-plane.fa-2x.mb-2.text-white
          h2.text-white.mb-5 Suscribase para recibir noticias!
          form.form-inline.d-flex
            input#inputEmail.form-control.flex-fill.mr-0.mr-sm-2.mb-3.mb-sm-0(type='email' placeholder='Ingrese su dirección de correo electrónico...')
            button.btn.btn-primary.mx-auto(type='submit') Subscrirse
  // Contact
  section.contact-section.bg-black
    .container
      h2.text-white.mb-5.text-center O puede contactarnos en:
      .row
        .col-md-4.mb-3.mb-md-0
          .card.py-4.h-100
            .card-body.text-center
              i.fas.fa-map-marked-alt.text-primary.mb-2
              h4.text-uppercase.m-0 Dirección
              hr.my-4
              .small.text-black-50 Av. Siempreviva 742, Springfield
        .col-md-4.mb-3.mb-md-0
          .card.py-4.h-100
            .card-body.text-center
              i.fas.fa-envelope.text-primary.mb-2
              h4.text-uppercase.m-0 Email
              hr.my-4
              .small.text-black-50
                a(href='#!') giselmarinoff@dominio.com
        .col-md-4.mb-3.mb-md-0
          .card.py-4.h-100
            .card-body.text-center
              i.fas.fa-mobile-alt.text-primary.mb-2
              h4.text-uppercase.m-0 Teléfono
              hr.my-4
              .small.text-black-50 +54 (11) 1902-8832
      .social.d-flex.justify-content-center
        a.mx-2(href='#!')
          i.fab.fa-twitter
        a.mx-2(href='#!')
          i.fab.fa-facebook-f
        a.mx-2(href='#!')
          i.fab.fa-github
  // Footer
  footer.footer.bg-black.small.text-center.text-white-50
    h2.text-white-50 Gracias por su visita!
    .container Copyright &copy; Your Website 2020
  
  // Bootstrap core JS
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js')
  
  // Third party plugin JS
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')
  
  // Core theme JS
  script(src='javascripts/scripts.js')
  script(src='javascripts/map.js')