extends ../layout

block content
    a(href='/usuarios') Volver
    br
    br
    h2 Usuario ID: #{usuario.id}
    br  
    form(action=`/usuarios/${usuario.id}` method='get')
      ul 
        li Nombre: #{usuario.nombre}
        br
        li Email: #{usuario.email}