extends ../layout

block content
    a(href='/usuarios') Volver
    br
    br
    h1 Modificar usuario:
    br  
    form(action=`/usuarios/${usuario.id}/update` method='post')
        .form-group
            label(for='nombre') Nombre:
            input#nombre(type="text" name='nombre' value=usuario.nombre)
            if errors.nombre
                small#nombreHelp.text-danger
                    = errors.nombre.message
        .form-group
            label(for='email') Email:
            input#email(type="text" name='email' value=usuario.email)
            if errors.email
                small#emailHelp.text-danger
                    = errors.email.message
        br
        br
        input.btn.btn-primary(type='submit' value='OK')