extends ../layout

block content
    a(href='/Bicicletas') Volver
    br
    br
    h1 Nueva bicicleta:
    br  
    form(action="/bicicletas/create" method='post')
        label.ml-2(for='code') Code: 
         input#id(type="text" name='code')
        br
        label.ml-2(for='color') Color: 
         input#color(type="text" name='color')
        br
        label.ml-2(for='modelo') Modelo: 
         input#modelo(type="text" name='modelo')
        br
        label.ml-2(for='lat') Latitud: 
         input#ubicacion1(type="text" name='lat')
        br
        label.ml-2(for='long') Longitud: 
         input#ubicacion2(type="text" name='long')
        br
        br
        input.ml-3.btn(type='submit' value='OK')