extends ../layout

block content
    a(href='/') Volver

    table.table
        thead
            tr
                th(scope='col') Code
                th(scope='col') Color
                th(scope='col') Modelo
                th(scope='col') Ubicación (Latitud, Longitud)
                th(scope='col')
                th(scope='col')
        tbody
            each bici in bicis
                tr
                    td(scope='row')= bici.code
                    td= bici.color
                    td= bici.modelo
                    td= bici.ubicacion[0] + ', ' + bici.ubicacion[1]
                    td 
                        form.inline(method='get' action='bicicletas/' + bici.code )
                            input(type='hidden' name='code' value=bici.code)
                            button.link-button(type='submit' name='submit_param' value='submit_value' class='btn')= 'Ver'
                    td 
                        form.inline(method='get' action='bicicletas/' + bici.code + '/update')
                            input(type='hidden' name='code' value=bici.code)
                            button.link-button(type='submit' name='submit_param' value='submit_value' class='btn')= 'Editar'
                    td
                        form.inline(method='post' action='bicicletas/' + bici.code + '/delete')
                            input(type='hidden' name='code' value=bici.code)
                            button.link-button(type='submit' name='submit_param' value='submit_value' class='btn')= 'Eliminar'
    
    form.ml-3(method='get' action='/bicicletas/create')
        button.link-button(type='submit' name='submit_param' value='submit_value' class='btn-success')= 'Nueva bicicleta'
