extends ../layout

block content
    a(href='/Bicicletas') Volver
    br
    br
    h2 Bicicleta Code: #{bici.code}
    br  
    form(action=`/bicicletas/${bici.code}` method='get')
      ul 
        li Color: #{bici.color}
        br
        li Modelo: #{bici.modelo}
        br
        li Latitud: #{bici.ubicacion[0]}
        br
        li Longitud: #{bici.ubicacion[1]}