extends ../layout

block content
    a(href='/Bicicletas') Volver
    br
    br
    h1 Modificar bicicleta:
    br  
    form(action=`/bicicletas/${bici.code}/update` method='post')
        label(for='code') Code:
        input#id(type="text" name='code' value=bici.code)
        br
        label(for='color') Color:
        input#color(type="text" name='color' value=bici.color)
        br
        label(for='modelo') Modelo:
        input#modelo(type="text" name='modelo' value=bici.modelo)
        br
        label(for='lat') Latitud:
        input#ubicacion1(type="text" name='lat' value=bici.ubicacion[0])
        br
        label(for='long') Longitud:
        input#ubicacion2(type="text" name='long' value=bici.ubicacion[1])
        br
        br
        input.btn(type='submit' value='OK')